.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--schiphi-top-bg);

  .leftMainMenuNavigation {
    gap: 1rem;
    height: 2.5rem;
    display: flex;
    align-items: center;

    .userIcon {
      color: var(--color-1);
      padding: 1px;
      background-color: var(--color-7);
      border-radius: 100%;
    }

    button {
      font-size: 0.95rem;
      margin-top: 0.2rem;
      outline: none;
      border: none;
      background-color: transparent;
      color: var(--color-8);
      transition: color 0.2s ease;
    }

    button:first-of-type {
      height: 2.15rem;
      padding: 0.3rem 1rem 0 1rem;
      border-radius: 0.3rem;
      margin: auto;
      border: 1px solid var(--color-5);
      transition-delay: 0.2s, 0s;
      transition: border 0.1s ease-out;
      background-color: var(--sciphi-3);
      color: var(--color-8);
      background-color: var(--color-3);

      &:hover {
        cursor: POINTER;
        color: var(--color-8);
        border-color: var(--color-7);
      }
    }
  }
}
.handCursor {
  cursor: pointer;
}