.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--schiphi-top-bg);

  .leftMainMenuNavigation {
    gap: 1rem;
    height: 2.5rem;
    display: flex;
    align-items: center;

    .userIcon {
      color: var(--color-1);
      padding: 1px;
      background-color: var(--color-7);
      border-radius: 100%;
    }
  }
}
.handCursor {
  cursor: pointer;
}
