// hover link icon animation
@keyframes handleHoverLinkIconAnimation {
  from {
    top: -4px;
  }
  to {
    top: -10px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  height: 64px;
  padding: 2rem 1.5rem;

  border: 1px solid rgb(35, 38, 40);
  border-radius: 0.5rem;
  transition: border-color 0.2s;

  color: var(--color-5);
  background-color: hsl(223, 11%, 13%);

  .hoverRedirectIcon {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: -10px;
    right: -10px;

    background-color: var(--color-7);
    padding: 0.5rem;
    visibility: hidden;

    border-radius: 100%;

    svg {
      color: var(--color-1);
    }
  }

  &:hover {
    .hoverRedirectIcon {
      visibility: visible;
      animation-name: handleHoverLinkIconAnimation;
      animation-duration: 0.2s;
      animation-iteration-count: 1;
    }
    border-color: var(--color-7);
  }

  .cardHeader {
    display: flex;
    margin-top: -1rem;
    .cardProjectIcon {
      color: var(--color-1);
      border-radius: 50%; /* Maintains circular shape */
      background-color: var(--color-7);
    }
    .imageContainer {
      display: flex; // Centers the image
      justify-content: center; // Centers the image
      align-items: center; // Vertically center
      width: 26px; // Match Image width or adjust as needed
      height: 26px; // Match Image height or adjust as needed
      border-radius: 50%; // Maintains circular shape
      background-color: var(--color-7);
      overflow: hidden; // Ensures no overflow outside the circular shape
      padding: 3px; // Adjust padding to shrink the image within the border, modify as needed
    }
    .projectInfo {
      margin-left: 0.5rem;
      .cardProjectTitle {
        font-size: 1.1rem;
        font-weight: 500;
        color: var(--color-7);

        width: 185px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .cardDomainAddress {
        margin-top: -1rem;

        width: 185px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  .cardButtonEnableAnalytics {
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    padding: 0.2rem 0.2rem;
    display: flex;
    align-items: center;

    background-color: transparent;
    border-radius: 100%;
    border: 3px solid var(--color-2);

    svg {
      color: var(--color-2);
    }
  }

  .cardProjectLastCommit {
    font-size: 0.95rem;
    font-weight: 500;
  }

  .cardLastModificationsAt {
    display: flex;
    align-items: center;
    gap: 4px;

    svg {
      color: var(--color-7);
    }
  }
}
