## Database Providers
# pgvector
# for instance, see https://supabase.com/dashboard/project/MY_PROJECT/settings/database
PGVECTOR_USER=your_user
PGVECTOR_PASSWORD=your_password
PGVECTOR_HOST=your_host
PGVECTOR_PORT=your_port
PGVECTOR_DBNAME=your_db

# chroma
CHROMA_HOST=your_chroma_host
CHROMA_PORT=your_chroma_port
CHROMA_API_KEY=your_chroma_api_key

## LLM Providers
# openai
OPENAI_API_KEY=your_openai_key
# anthropic
ANTHROPIC_API_KEY=your_anthropic_api_key
# sciphi
SCIPHI_API_KEY=your_sciphi_api_key
# vllm
VLLM_API_KEY=your_vllm_api_key
# huggingface
HF_TOKEN=your_huggingface_token


## Integrations

# seprper
SERPER_API_KEY=your_serper_api_key
