js/sdk/**/*.js
js/tests/*
**/.DS_Store

*.env
!docker/env/postgres.env
!docker/env/r2r.env
!docker/env/r2r-full.env
!docker/env/r2r-dashboard.env

.DS_Store
*.gguf
logs/
workspace/
py/workspace/
uploads/
env/
**/__pycache__
**/.mypy_cache
**/.pytest_cache
dump/*
.next
node_modules
.idea

coverage.xml
.coverage

**/*.sqlite*
**/*.sqlite3*

node_modules/
dist/
**/.data/*

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
go.work
go.work.sum

.vscode/
.python-version
.ruff_cache/
*.egg-info
.venv
