**/.DS_Store
.env
.DS_Store
*.gguf
logs/
workspace/
py/workspace/
uploads/
env/
**/__pycache__
**/.mypy_cache
**/.pytest_cache
dump/*
.next
node_modules
.idea

coverage.xml
.coverage

**/*.sqlite*
**/*.sqlite3*

node_modules/
dist/
**/.data/*

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
go.work
go.work.sum

.vscode/
CODE_OF_CONDUCT.md
CONTRIBUTING.md
LICENSE.md
llms.txt
MANIFEST.md
README.md
js/
py/README.md
