[chunking]
provider = "unstructured_local"
strategy = "auto"
chunking_strategy = "basic"
new_after_n_chars = 2_048
max_characters = 4_096 # use larger max_characters for KG construction
combine_under_n_chars = 512
overlap = 20

[kg]
provider = "neo4j"
batch_size = 256
kg_extraction_prompt = "graphrag_triplet_extraction_zero_shot"

  [kg.kg_creation_settings]
    max_knowledge_triples = 100
    generation_config = { model = "gpt-4o-mini" } # and other params, model used for triplet extraction

  [kg.kg_enrichment_settings]
    max_summary_input_length = 65536
    generation_config = { model = "gpt-4o-mini" } # and other params, model used for node description and graph clustering
    leiden_params = { max_levels = 10 } # more params here: https://neo4j.com/docs/graph-data-science/current/algorithms/leiden/

  [kg.kg_search_config]
    model = "gpt-4o-mini"
