@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #fafafa;
  --card: #2c2a2a;
  --card-foreground: #fafafa;
  --popover: #3d3935;
  --popover-foreground: #fafafa;
  --primary: #1565c0;
  --primary-foreground: #fafafa;
  --secondary: #bdbdbd;
  --secondary-foreground: #1a1919;
  --muted: #282626;
  --muted-foreground: #a5a3a3;
  --accent: #7b4dc6;
  --accent-foreground: #fafafa;
  --destructive: #ff5555;
  --destructive-foreground: #fafafa;
  --border: #282626;
  --input: #282626;
  --ring: #d6d5d5;
  --radius: 0.5rem;

  --header-height: 64px;
  --header-bg: #27272a; /* Zinc-800 */
  --header-border: #3f3f46; /* Zinc-700 */
  --header-text: #fafafa;

  --input: #3f3f46; /* Zinc-700 */
  --input-background-color: #3f3f46;
  --ring: #1565c0; /* Same as primary */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family:
    'Ubuntu',
    -apple-system,
    sans-serif;
  font-size: 93.75%;
  background-color: var(--background);
  color: var(--foreground);
}

@keyframes searchingAnimation {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.searching-animation {
  background: linear-gradient(
    90deg,
    transparent 0%,
    var(--foreground) 50%,
    transparent 100%
  );
  background-size: 200% 100%;
  animation: searchingAnimation 4s forwards;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-content-wrapper {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  bottom: 0;
  transition: left 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.main-content {
  width: 100%;
  max-width: 64rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* Header utility classes*/
.bg-header {
  background-color: var(--header-bg);
}

.border-header-border {
  border-color: var(--header-border);
}

.text-header-text {
  color: var(--header-text);
}

/* Footer styles */
.footer {
  background-color: var(--card);
  color: var(--card-foreground);
  padding: 1rem;
}

.small-print {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.copyright {
  font-size: 0.875rem;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-link {
  color: var(--muted-foreground);
  transition: color 0.2s;
}

.social-link:hover {
  color: var(--foreground);
}

.social-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--muted-foreground);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
