@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-1: #111;
    --color-2: #333;
    --color-3: #444;
    --color-4: #666;
    --color-5: #888;
    --color-6: #999;
    --color-7: #eaeaead9;
    --color-8: #fafafa;
    --color-9: #ff5555;

    --sciphi-primary: #454eb5;
    --sciphi-secondary: #686fc5;
    --sciphi-accent: #7b4dc6;

    --header-box-shadow: inset 0 -1px var(--color-2);
    --shadow: 0 0 0 1px var(--color-2);
    --shadow-hover: 0 0 0 1px var(--color-7);

    --sciphi-top-bg: #262a2d;
    --sciphi-bg: #171717;

    --background: #171717;
    --foreground: #3d3935;

    --dark-background: #2c2a2a;
    --dark-foreground: #fafafa;

    --card: #ffffff;
    --card-foreground: #3d3935;

    --dark-card: #2c2a2a;
    --dark-card-foreground: #fafafa;

    --popover: #ffffff;
    --popover-foreground: #3d3935;

    --primary: #454eb5;
    --primary-foreground: #fafafa;

    --secondary: #686fc5;
    --secondary-foreground: #1a1919;

    --muted: #f4f3f3;
    --muted-foreground: #757373;

    --accent: #7b4dc6;
    --accent-foreground: #1a1919;

    --destructive: #ff5555;
    --destructive-foreground: #fafafa;

    --border: #e6e4e4;
    --input: #e6e4e4;
    --ring: #3d3935;

    --radius: 0.5rem;
  }

  .dark {
    --background: #171717;
    --foreground: #fafafa;

    --card: #2c2a2a;
    --card-foreground: #fafafa;

    --popover: #3d3935;
    --popover-foreground: #fafafa;

    --primary: #fafafa;
    --primary-foreground: #1a1919;

    --secondary: #282626;
    --secondary-foreground: #fafafa;

    --muted: #282626;
    --muted-foreground: #a5a3a3;

    --accent: #282626;
    --accent-foreground: #fafafa;

    --destructive: #802020;
    --destructive-foreground: #fafafa;

    --border: #282626;
    --input: #282626;
    --ring: #d6d5d5;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family:
    'Ubuntu',
    -apple-system,
    sans-serif;
  font-size: 93.75%;
}

a {
  color: inherit;
  text-decoration: none;
}
