// hover link icon animation
@keyframes handleHoverLinkIconAnimation {
  from {
    top: -4px;
  }
  to {
    top: -10px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  height: 192px;
  padding: 2rem 1.5rem;

  border: 1px solid rgb(35, 38, 40);
  border-radius: 0.5rem;
  transition: border-color 0.2s;

  color: var(--color-5);
  background-color: hsl(223, 11%, 13%);

  .hoverRedirectIcon {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: -10px;
    right: -10px;

    background-color: var(--color-7);
    padding: 0.5rem;
    visibility: hidden;

    border-radius: 100%;

    svg {
      color: var(--color-1);
    }
  }

  &:hover {
    .hoverRedirectIcon {
      visibility: visible;
      animation-name: handleHoverLinkIconAnimation;
      animation-duration: 0.2s;
      animation-iteration-count: 1;
    }
    border-color: var(--color-7);
  }

  .cardHeader {
    display: flex;
    .cardProjectIcon {
      color: var(--color-1);
      padding: 1px;
      background-color: var(--color-7);
      border-radius: 100%;
    }
    .projectInfo {
      margin-top: -0.2rem;
      margin-left: 0.5rem;
      .cardProjectTitle {
        font-size: 1.1rem;
        font-weight: 500;
        color: var(--color-8);

        width: 185px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .deploymentTitle {
        font-size: 1.1rem;
        font-weight: 500;
        color: var(--color-8);

        width: 185px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .cardAddress {
        margin-top: 0.2rem;
        color: var(--color-7);

        width: 185px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .cardTitle {
        margin-top: 0.2rem;

        width: 185px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  .cardButtonEnableAnalytics {
    position: absolute;
    right: 1.5rem;
    top: 2rem;
    padding: 0.2rem 0.2rem;
    display: flex;
    align-items: center;

    background-color: transparent;
    border-radius: 100%;
    border: 3px solid var(--color-2);

    svg {
      color: var(--color-2);
    }
  }

  .cardProjectLastCommit {
    font-size: 0.95rem;
    font-weight: 500;
  }

  .cardLastModificationsAt {
    display: flex;
    align-items: center;
    gap: 4px;

    svg {
      color: var(--color-7);
    }
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; // Ensure it's above other content
}

.modalContent {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 400px;
  z-index: 1001; // Above the overlay
  // Add more styling as needed
}
