.container {
  position: absolute;
  height: 32px;
  background-color: var(--color-3);
  z-index: -1;
  border-radius: 0.3rem;
  transform: translateX(0px);

  transition: 0.15s ease;
  transition-property: width, transform, opacity;
}
