.arrowIcon {
  position: relative;

  svg {
    display: flex;
  }

  .topSpace {
    position: absolute;
    top: calc(50% - 10px);
    bottom: -1px;
  }

  .bottomSpace {
    position: absolute;
    top: calc(50% - 2px);
    bottom: -1px;
  }
}
