@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  background: #c5d86d;
}

.header-title {
  @apply text-3xl sm:text-4xl md:text-5xl font-bold mb-4;
}

.header-sub {
  @apply text-sm tracking-widest px-4 py-2 inline-block;
}

.description {
  @apply text-base sm:text-lg max-w-3xl mx-auto;
}

.popo-container {
  border: 2px solid #414233;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
}

.popo {
  list-style: none;
  box-sizing: border-box;
  border: 2px solid #414233;
  width: 30%;
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.popo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  box-sizing: border-box;
}

.popo > a {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-bottom: 2px solid #414233;
}

.popo h2 > a {
  color: #414233;
  text-decoration: none;
}

.popo h2 a:hover {
  color: #f05d23;
}

.popo-subcontainer {
  color: #414233;
  box-sizing: border-box;
  width: 100%;
  padding: 30px;
  background: #e4e6c3;
}

.popo-subcontainer h2 {
  margin: 0;
}

.popo-detail-div {
  display: flex;
  align-items: center;
}

.material-icons {
  padding-right: 10px;
}

.description {
  font-family: "Raleway", sans-serif;
  color: #414233;
  margin: 0;
  line-height: 1.5em;
  letter-spacing: 1px;
}

.status-div {
  border: 2px solid #414233;
  color: #414233;
  border-bottom: 0;
  padding: 50px 100px 30px 100px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  letter-spacing: 2px;
}

/*---------------------------------------------------------
          PopoView - Content
---------------------------------------------------------*/
.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 9999px;
  padding: 5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 0.5rem;
}

.search-bar button {
  background-color: #414233;
  color: white;
  border: none;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/*---------------------------------------------------------
          PopoView - Content
---------------------------------------------------------*/
.side-content {
  width: 40%;
}

.side-content-subdiv {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  width: 60%;
}

.main-content-subdiv {
  display: flex;
  flex-direction: column;
}

.content-img,
.map-container,
.main-content-description {
  margin: 15px;
}

.content-img {
  border: 2px solid #414233;
  display: block;
  box-sizing: border-box;
}

.main-content-description {
  padding: 30px;
  border: 2px solid #414233;
  background: #e4e6c3;
  box-sizing: border-box;
}

.map-container {
  color: #414233;
  border: 2px solid #414233;
}

#map {
  display: block;
  min-width: 100%;
  height: 300px;
  border-bottom: 2px solid #414233;
}

.map-subcontainer {
  padding: 30px;
  background: #e4e6c3;
}

/*---------------------------------------------------------
          Footer
---------------------------------------------------------*/
footer {
  font-family: "Raleway", sans-serif;
  border: 2px solid #414233;
  border-top: 0;
  color: #414233;
  padding: 50px;
  text-align: center;
  font-size: 12px;
}

footer a:hover {
  color: #f05d23;
}

footer a {
  color: #414233;
  text-decoration: none;
}

/*---------------------------------------------------------
          Responsive
---------------------------------------------------------*/
@media screen and (max-width: 1050px) {
  header {
    padding: 50px 75px 20px 75px;
  }

  .popo {
    width: 29%;
  }
}

@media screen and (max-width: 950px) {
  header {
    padding: 50px 50px 20px 50px;
  }

  .popo {
    width: 45%;
  }

  div.popo-container {
    flex-direction: column;
  }

  .main-content,
  .side-content {
    width: 100%;
  }

  .map-container {
    box-sizing: border-box;
    display: flex;
    border: 0;
  }

  #map {
    box-sizing: border-box;
    display: inline-block;
    min-width: 50%;
    margin-right: 15px;
    border: 2px solid #414233;
  }

  .map-subcontainer {
    box-sizing: border-box;
    width: 50%;
    border: 2px solid #414233;
    margin-left: 15px;
  }
}

@media screen and (max-width: 775px) {
  header {
    padding: 40px 30px;
  }

  .header-title {
    font-size: 48px;
    margin: 25px 0 20px 0;
  }

  .header-sub {
    font-size: 14px;
    padding: 12px;
  }

  .popo {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  body {
    margin: 0;
  }

  header {
    border: none;
    padding: 10px 20px;
  }

  header p {
    font-size: 14px;
    margin: 0;
  }

  .popo-container,
  footer {
    border-left: none;
    border-right: none;
  }

  .header-title {
    font-size: 36px;
    margin: 15px 0 10px 0;
    letter-spacing: -1px;
  }

  .header-sub {
    font-size: 12px;
    letter-spacing: 5px;
    padding: 12px;
    display: inline-block;
    margin: 0 0 5px 0;
  }

  .map-container {
    display: flex;
    flex-direction: column;
  }

  #map,
  .map-subcontainer {
    width: 100%;
    margin: 0;
  }

  .description {
    font-size: 14px;
  }
}
