.container {
  position: relative;
  display: flex;
  align-items: center;

  .logo {
    cursor: pointer;
  }

  .divider {
    margin-left: 15px;
    margin-top: 5px;
    position: absolute;
    height: 28px;
    width: 1px;
    top: 6px;
    bottom: -1px;
    left: 50px;
    background-color: var(--color-5);
    rotate: 30deg;
  }

  .userPanel {
    margin-left: 43px;
    display: flex;
    gap: 6px;
    color: white;

    .currentWorkspace {
      font-size: 0.95rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;

      .workspaceIcon {
        width: 32px;
        height: 32px;

        color: var(--color-1);
        padding: 1px;
        background-color: var(--color-7);
        border-radius: 100%;
      }

      .workspaceTag {
        background-color: var(--color-5);
        padding: 0.15rem 0.45rem;
        font-size: 0.875rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5rem;
      }
    }
  }

  .selectContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 26px;

    .workspaceSelect {
      outline: none;
      border: none;
      background-color: transparent;
      color: var(--color-7);
      font-size: 13px;
      border-radius: 4px;
      width: 28px;
      height: 40px;
      padding: 20px 0;
      height: 28px;
      transition: box-shadow 0.15s ease;

      .workspacesMenuDropdown {
        display: none;
      }

      &:hover {
        cursor: pointer;
        background-color: rgba(51, 51, 51, 0.4);
      }
    }

    #arrowMenuIcon {
      position: absolute;
      pointer-events: none;
      color: var(--color-8);
      top: -1px;
      bottom: -1px;
      left: 6.5px;
      right: 0;
      transition: all 0.15s ease;
    }
  }
}
