apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: r2r-dashboard
  namespace: r2r-dev
spec:
  ingressClassName: azure-application-gateway
  rules:
    - http:
        paths:
          - path: /*
            pathType: Prefix
            backend:
              service:
                name: r2r-dashboard
                port:
                  number: 7273
