# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: R2R Light Python Integration Test (ubuntu)

on:
  push:
    branches:
      - dev
      - dev-minor
  pull_request:
    branches:
      - dev
      - dev-minor
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        test_category:
          - cli-ingestion
          - cli-retrieval
          - cli-graphrag
          - sdk-ingestion
          - sdk-retrieval
          - sdk-auth
          - sdk-collections
          - sdk-graphrag
    env:
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      TELEMETRY_ENABLED: 'false'
      R2R_POSTGRES_HOST: localhost
      R2R_POSTGRES_DBNAME: postgres
      R2R_POSTGRES_PORT: '5432'
      R2R_POSTGRES_PASSWORD: postgres
      R2R_POSTGRES_USER: postgres
      R2R_PROJECT_NAME: r2r_default

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python and install dependencies
        uses: ./.github/actions/setup-python-light
        with:
          os: ${{ matrix.os }}

      - name: Setup and start PostgreSQL
        uses: ./.github/actions/setup-postgres-ext
        with:
          os: ${{ matrix.os }}

      - name: Start R2R Light server
        uses: ./.github/actions/start-r2r-light

      - name: Run CLI Ingestion Tests
        if: matrix.test_category == 'cli-ingestion'
        uses: ./.github/actions/run-cli-ingestion-tests

      - name: Run CLI Retrieval Tests
        if: matrix.test_category == 'cli-retrieval'
        uses: ./.github/actions/run-cli-retrieval-tests

      - name: Run CLI GraphRAG Tests
        if: matrix.test_category == 'cli-graphrag'
        uses: ./.github/actions/run-cli-graphrag-tests

      - name: Run SDK Ingestion Tests
        if: matrix.test_category == 'sdk-ingestion'
        uses: ./.github/actions/run-sdk-ingestion-tests

      - name: Run SDK Retrieval Tests
        if: matrix.test_category == 'sdk-retrieval'
        uses: ./.github/actions/run-sdk-retrieval-tests

      - name: Run SDK Auth Tests
        if: matrix.test_category == 'sdk-auth'
        uses: ./.github/actions/run-sdk-auth-tests

      - name: Run SDK Collections Tests
        if: matrix.test_category == 'sdk-collections'
        uses: ./.github/actions/run-sdk-collections-tests

      - name: Run SDK GraphRAG Tests
        if: matrix.test_category == 'sdk-graphrag'
        uses: ./.github/actions/run-sdk-graphrag-tests
