name: R2R Full Python Integration Test (ubuntu)

on:
  push:
    branches:
      - dev
      - dev-minor
  pull_request:
    branches:
      - dev
      - dev-minor
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        test_category:
          - cli-graphrag
          - sdk-graphrag
    env:
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      TELEMETRY_ENABLED: 'false'
      R2R_PROJECT_NAME: r2r_default

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python and install dependencies
        uses: ./.github/actions/setup-python-full
        with:
          os: ${{ matrix.os }}

      - name: Setup and start Docker
        uses: ./.github/actions/setup-docker

      - name: Login Docker
        uses: ./.github/actions/login-docker
        with:
          docker_username: ${{ secrets.RAGTORICHES_DOCKER_UNAME }}
          docker_password: ${{ secrets.RAGTORICHES_DOCKER_TOKEN }}

      - name: Start R2R Full server
        uses: ./.github/actions/start-r2r-full

      - name: Run CLI GraphRAG Tests
        if: matrix.test_category == 'cli-graphrag'
        uses: ./.github/actions/run-cli-graphrag-tests

      - name: Run SDK GraphRAG Tests
        if: matrix.test_category == 'sdk-graphrag'
        uses: ./.github/actions/run-sdk-graphrag-tests
